// Hide the toolbar or admin menu on small screens.
@media all and (max-width: 800px) {
  #toolbar, #admin-menu {
    display: none;
  }

  html {
    body.toolbar, body.admin-menu {
      padding-top: 0 !important;
      margin-top: 0 !important;
    }
  }
}

@media all and (max-width: 1200px) {
  .pane-pane-messages {
    display: none;
  }
  
}

@media all and (max-width: 800px) {
  .l-footer {
    display: none;
  }
  
}
